*.log
*.aux
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.blg
*.pdf
*.run.xml
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc

.vscode/
build/
datasets/**/data/
.venv/
.cache/
__pycache__/
*.txt
*.rar
*.zip

imgui.ini
/lib/
/bin/
/include/
data/
thesis_old/
